{%- block title -%}## Coverage report{%- endblock title%}

{# Coverage badges #}
{% block coverage_badges -%}
    {#- Project coverage badge -#}
    {%- block coverage_evolution_badge -%}
        {%- if coverage %}
            {%- set color = coverage.info.percent_covered | x100 | get_badge_color -%}
            <img src="{{ 'Coverage' | generate_badge(message=coverage.info.percent_covered_display ~ '%', color=color) }}">
        {%- endif -%}
    {%- endblock coverage_evolution_badge -%}
&nbsp;&nbsp;
    {#- PR coverage badge -#}
    {%- block diff_coverage_badge -%}
        {%- set color = diff_coverage.total_percent_covered | x100 | get_badge_color -%}
        <img src="{{ 'PR Coverage' | generate_badge(message=diff_coverage.total_percent_covered | pct(precision=0), color=color) }}">
    {%- endblock diff_coverage_badge -%}
{%- endblock coverage_badges -%}

{# macros #}
{% import 'macros.md.j2' as macros %}

{# Individual file report #}
{%- block coverage_by_file -%}
    {% include "pr.md.j2" %}
{%- endblock coverage_by_file %}

{# Whole project coverage file report #}
{%- block project_coverage_by_file -%}
    {% include "project.md.j2" %}
{%- endblock project_coverage_by_file %}

{%- block footer %}
{% if label %}
<sub>
    {{ label }}
</sub>
{% endif %}
{% endblock footer -%}
{{ marker -}}
