{%- block title -%}## Coverage report{%- endblock title%}

{# Coverage evolution badge #}
{% block coverage_badges -%}
{%- block coverage_evolution_badge -%}
{%- if coverage %}
{%- set text = "Coverage of the whole project for this PR is " ~ coverage.info.percent_covered_display ~ "%." -%}
{%- set color = coverage.info.percent_covered | get_badge_color -%}
<img title="{{ text }}" src="{{ 'Coverage' | generate_badge(message=coverage.info.percent_covered_display ~ '%', color=color) }}">
{%- endif -%}
{%- endblock coverage_evolution_badge -%}

{#- Coverage diff badge -#}
{#- space #} {# space -#}
{%- block diff_coverage_badge -%}
{%- set text = (diff_coverage.total_percent_covered | pct) ~ " of the statement lines added by this PR are covered" -%}
<img title="{{ text }}" src="{{ 'PR Coverage' | generate_badge(message=diff_coverage.total_percent_covered | pct(precision=0), color=diff_coverage.total_percent_covered | x100 | get_badge_color) }}">
{%- endblock diff_coverage_badge -%}
{%- endblock coverage_badges -%}

{# macros #}
{% import 'macros.md.j2' as macros %}

{# Individual file report #}
{%- block coverage_by_file -%}
{% include "pr.md.j2" %}
{%- endblock coverage_by_file %}

{# Whole project coverage file report #}
{%- block project_coverage_by_file -%}
{% include "project.md.j2" %}
{%- endblock project_coverage_by_file %}

{%- block full_coverage_report -%}
{%- if coverage_report_url %}
<h4> See the full coverage report of the project <a href="{{ coverage_report_url }}">here</a>.</h4>
{%- endif -%}
{%- endblock full_coverage_report %}

{%- block footer %}
<sub>
This report was generated by <a href="{%- if subproject_id %}{{ subproject_id }}{%- endif -%}">[CI-codecov]</a>
</sub>
{% endblock footer -%}
{{ marker -}}
