{%- if not files %}

  _This PR does not include changes to coverable code or code with missing coverage._
{%- else -%}
<details><summary>Click to see the coverage of changed files</summary>
  <br>

{{ macros.coverage_table(files, missing_diff_lines, coverage.info, diff_coverage, branch_coverage, false) }}

  {%- if max_files and count_files > max_files %}
  _The report is truncated to {{ max_files }} files out of {{ count_files }}._
  {% endif %}

</details>
{%- endif -%}
