{%- if complete_project_report %}
{%- if not coverage_files %}

_No additional project files to report the coverage._
{%- else -%}
<details><summary>Click to see whole project coverage</summary>
<br>

{{ macros.coverage_table(coverage_files, missing_lines_for_whole_project, coverage.info, none, branch_coverage, true) }}

</details>
{%- endif -%}
{%- endif -%}
