[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-coverage-comment = {file = ".", editable = true}
httpx = "*"
jinja2 = "*"

[dev-packages]
ruff = "*"
mypy = "*"
pytest = "*"
pytest-env = "*"
pytest-cov = "*"
ipython = "*"
setuptools = "*"
build = "*"
twine = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
